@model RAG_using_Azure_AI_Search.Models.SearchTerms
<h4>Azure AI Search</h4>


<div class="container">
    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="form-group">
            <label asp-for="@Model.Input">Q: ></label>
            <input asp-for="@Model.Input" class="form-control" placeholder="Q:" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Input">TopK</label>
            <input asp-for="@Model.TopK" class="form-control input-group-sm" readonly"  />
        </div>
        
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>

        <br />
        <br />

        <div class="form-group">
            <textarea asp-for="@Model.Response"
                      name="@Model.Response" rows="20">@Model.Response</textarea>
        </div>
    </form>


    <div class="form-control">
        <span class="alert-info">Sample queries: </span>
        <br/>
        <ol>

            <li>AI researcher specializing in natural language processing and machine learning.</li>
            <li>Find Solution architect and enterprise software designer with expertise</li>
            <li>who is Samantha Rodriguez?</li>
            <li>API gateway architect and traffic management specialist</li>
            <li>Find me list of all developers and Solution architect</li>
            <li>3D</li>
        </ol>
    </div>

    <br />

</div>
<style>
    textarea {
        width: 100%;
        height: 450px;
        padding: 12px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8fcfd;
        font-size: 16px;
        resize: none;
    }
</style>